<p id="notice"><%= notice %></p>
<% provide(:title, 'All emcees') %>
<h1>All Emcees</h1>

<ul class="emcees">
  <% @emcees.each do |emcee| %>
    <li>
      <%= gravatar_for emcee, size: 50 %>
      <%= link_to emcee.name, emcee %>
    </li>
  <% end %>
</ul>